language: node_js
node_js:
  - "6.1.0"
  - "4.4.5"
script:
  - npm test
cache:
  directories:
    - node_modules
env:
 - CXX=g++-4.8
addons:
 apt:
  sources:
   - ubuntu-toolchain-r-test
  packages:
   - g++-4.8
